<div>
	<div id="green">
		<%= @text %>
	</div>
	<div>
		<p>Name: <%= session["results"]["name"] %></p>
		<p>Location: <%= session["results"]["dojolocation"] %></p>
		<p>Favorite language: <%= session["results"]["favlanguage"] %></p>
		<p>Comments: <%= session["results"]["comment"] %></p>
	</div>
</div>